@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Fuzzy+Bubbles&family=Montserrat+Alternates:wght@300&family=Raleway:wght@200;300;600&family=Shadows+Into+Light&family=Shalimar&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    scroll-behavior: smooth;
}
/* ++++++++++++++HOME PAGE+++++++++++  */
.home {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(34, 33, 33, 0.6),rgba(34, 33, 33, 0.6)),
    url(https://images.unsplash.com/photo-1566897819059-db42e135fa69?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2938&q=80);
    background-size: cover;
    text-align: center; 
    background-position: center;

}
/* ++++++++++++++HOME PAGE+++++++++++  */


/* ++++++++++++++LOGO+++++++++++  */
#h1{
    font-family: 'Fuzzy Bubbles', cursive;
    color: white;
}
#h2 {
    font-family: 'Corinthia', cursive;
    color: white;
    line-height: 1rem;
}
/* ++++++++++++++LOGO+++++++++++  */


/* ++++++++++++++NABVBAR+++++++++++  */
.navbar-dark .navbar-toggler {
    border-color: white;
}

@media (max-width: 990px){

    #h5 {
        visibility: hidden;
    }
    #h3 {
        line-height: 0.5rem;
    }
    .nav-bar-submenu {
        position: absolute;
        right:1rem ;
    }
    .navbar-menu {
        position: absolute;
        right:1rem ;
        top: 5rem;
    }
}

#h5 {
    color: white;
    min-width: 200px;
    margin-top: 5rem;
    font-family: 'Raleway', sans-serif;
}
#h3 {
    font-family: 'Fuzzy Bubbles', cursive;
    color: white;
}
#h3:hover {
        color: orange;
        text-shadow: 1rem 1.5rem 1.5rem;
}
#h3_dis {
    font-family: 'Fuzzy Bubbles', cursive;
    color: orange;
    text-shadow: 1rem 1.5rem 1.5rem;
}

/* ++++++++++++++NABVBAR+++++++++++  */

/* ++++++++++++++MENU PAGE+++++++++++  */
.menu {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),
    url(https://images.unsplash.com/photo-1559305616-3f99cd43e353?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    text-align: center; 
    background-position: center;
}
.logo-sm {
    margin-top: 1rem;
}
.munu-nav {
    height: 20vh;
}
/* ++++++++++++++MENU PAGE+++++++++++  */

/* ++++++++++++++MINI NABVBAR+++++++++++  */
.mini-nav a{
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    
}
.mini-nav a:hover {
    color: burlywood;
    text-shadow: 0 0 1rem;
    font-family: 'Shadows Into Light', cursive;
}
.mini-nav {
    display: inline;
}
@media (max-width: 990px){
    .mini-nav {
        display:flex
    } 
}

/* ++++++++++++++MINI NABVBAR+++++++++++  */

/* ++++++++++++++SUB MENU PAGE+++++++++++  */

#content {
    height: 70vh;
    text-align: center;
    margin-top: 2rem;
}
#content h2 {
    line-height: 2rem;
}
.item_name {
    color: rgb(11, 73, 11);
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}
.item_description{
    color: rgb(11, 73, 11);
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}
.appetizer {
    height: 100vh;
    width: 100%;

}
#top_appetizer {
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),
    url(https://images.unsplash.com/photo-1630803090532-aca227a57141?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.main_menu  {
    height: 100vh;
}
 #top_main_menu {
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),
    url(https://images.unsplash.com/photo-1580554530778-ca36943938b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.dessert {
    height: 100vh;
}

#top_dessert{
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),
    url(https://images.unsplash.com/photo-1574085733277-851d9d856a3a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1776&q=80);
    background-size: cover;
    background-position: center;
    text-align: center;
}
.beverages  {
    height: 100vh;
}

#top_beverages{
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),
    url(https://images.unsplash.com/photo-1533922922960-9fceb9ef4733?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
    background-size: cover;
    background-position: center;
    text-align: center;   
}
/* ++++++++++++++SUB MENU PAGE+++++++++++  */

/* ++++++++++++++CONTACT US PAGE+++++++++++  */
.contact_us {
    width: 100%;
    background-image: linear-gradient(rgb(36, 35, 35, 0.8),rgba(36, 35, 35, 0.8)),
    url(https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80);
    background-size: cover;
    text-align: center; 
    background-position: center;
}
@media (max-width: 990px){
    .location {
        margin-top: 5rem;
    }
}
#h4 {
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
}
/* ++++++++++++++CONTACT US PAGE+++++++++++  */

/* ++++++++++++++RESERVATION PAGE+++++++++++  */
.reservation {
    width: 100%;
    background-image: linear-gradient(rgb(36, 35, 35, 0.8),rgba(36, 35, 35, 0.8)),
    url(https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
    background-size:cover;
    text-align: center; 
    background-position: center;
}

    .form {
        margin-top: 5rem;
    }

#reservation{
    height: 100vh;
}

#privacy_statement {
    height: 100vh;
    
}
.panel {
    text-align:left;
    padding: 2rem 2rem 2rem 2rem;
}
.fs-4 {
    
    color: white;
}
.form-check, .btn {
    margin-top: 1rem;
}

/* ++++++++++++++RESERVATION PAGE+++++++++++  */


